/* you can add to or change this. */

body {
  display: flex;
  background-color: bisque;
  flex-direction: column;
  align-items: center;
}

header {
  display: inline-flex;
  width:fit-content;
  justify-content: space-around;
}

p {
  display: flex;
  width: 70%;
  margin: 0px 3rem;
  font-size: 1.3rem;
}

#game {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: aliceblue;
}

#game div {
  border: 1px solid black;
  width: 200px;
  height: 300px;
  margin: 20px;
  display: inline-block;
}

div.hidden{
  background-image: url("https://i.ibb.co/S6JQn6B/IMG-4014.jpg");
  background-size: cover;
}


.red {
  background-image: url("https://i.ibb.co/Hp2wmYT/DSC05054-ANIMATION.gif");
  background-position: center;
  background-size: cover;
}

.green {
  background-image: url("https://i.ibb.co/cvLQvWb/IMG-0824.jpg");
  background-position: center;
  background-size: cover;
}

.purple {
  background-image: url("https://i.ibb.co/wSG0g97/IMG-3257.jpg");
  background-size: cover;
  background-position: center;
}

.orange {
  background-image: url("https://i.ibb.co/hdyXmZz/IMG-0804.jpg");
  background-size: cover;
  background-position: center;
}

.blue {
  background-image: url("https://i.ibb.co/2h16RvX/ezgif-1-fbc2f9fcbc.gif");
  background-position: center;
  background-size: cover;
}

.button {
  background-size: auto;
  background-color: rgb(172, 172, 172);
  text-align: center;
  margin: 20px 0;
  border: 1px black solid;
  padding: .4rem
}

.counter {
  font-size: 2rem;
  width: 30%;
}